<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>5a134d916e905ac73e6aade9</string>
	<key>developmentSecret</key>
	<string>126063f341083c31f36f8b258db5562f8981eaeb</string>
	<key>productionSecret</key>
	<string>70b445cd5b60d957c531312dd0624e2c440da802</string>
	<key>inProduction</key>
	<false/>
	<key>versionID</key>
	<string>testing</string>
</dict>
</plist>
