<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>5a57e5c5b7f8570100544507</string>
	<key>developmentSecret</key>
	<string>028ba77526ee51f5a3c2fcaf8bde4d6dcdbd6b55</string>
	<key>productionSecret</key>
	<string>2df1f06078b9f685bed8c677c9e4c04d11803304</string>
	<key>inProduction</key>
	<false/>
	<key>versionID</key>
	<string>testing2</string>
</dict>
</plist>
